.outer-box {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #6b369c;
}

.header-bar {
    background-color: #6b369c;
}

.drum-machine-box {
    background-color: #00000027;
}

.drum-machine-box button.toggle-active {
    background-color: #bf79e7;
    box-shadow: 0 0 10px #bf79e7;
}

.drum-machine-box button {
    background-color: #ffffff1c;
}

.drum-machine-box button:hover {
    background-color: #ffffff42;
}

.drum-machine-box button:checked {
    background-color: #ffffff5e;
}

.bottom-wrapper {
    background: #6b369c;
}