.adw-window {
    background: #D38CFF;
}

.drum-machine-box {
    padding: 20px;
    padding-bottom: 15px;
    border-radius: 10px;
    background-color: #ffffff27;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.drum-machine-box .drum-toggle {
    background-color: #ffffff65;
}

.drum-machine-box .drum-toggle.toggle-active {
    background-color: #ffffff;
    box-shadow: 0 0 10px #ffffff;
}

.drum-machine-box .drum-toggle:hover {
    background-color: #ffffffb0;
}

.drum-machine-box .drum-toggle:checked {
    background-color: #ffffff;
}

.drum-machine-box.medium button {
    min-width: 20px;
    min-height: 20px;
    padding: 4px;
    border-radius: 6px;
}

.drum-machine-box.compact button {
    min-width: 10px;
    min-height: 10px;
    padding: 0;
    border-radius: 6px;
}

.bottom-wrapper {
    padding: 10px;
}

.drum-machine-box.compact .drum-part-button {
    padding-left: 6px;
    padding-right: 6px;
}

.disabled {
    opacity: 0.5;
}

.drag-over-replace {
    background-color: @accent_bg_color !important;
    box-shadow: 0 0 15px @accent_bg_color !important;
    border: 3px solid @accent_bg_color !important;
    border-radius: 6px;
}


/* New drum placeholder - styled exactly like drum-part-button but with different opacity */
.new-drum-placeholder button {
    opacity: 0.6;
    color: @accent_color;
}

.new-drum-placeholder.highlight button {
    opacity: 1;
    box-shadow: 0 0 10px @accent_color;
    border: 2px solid @accent_color;
}

.export-button {
    transition: 200ms ease-in-out;
}

.drag-source-active {
    opacity: 0.5;
}

/* Remove default GTK drop target outline from column */
box:drop(active) {
    outline: none;
    box-shadow: none;
    border: none;
}

.insert-above {
    box-shadow: 0 -3px 0 0 @accent_color;
}

.insert-below {
    box-shadow: 0 3px 0 0 @accent_color;
}
